<% if @product.supplier %>
  <div id='product-supplier'>
    <h6 class='product-section-title'><%= Spree.t(:supplier) %></h6>
    <div><%= @product.supplier.title %></div>
    <h6 class='product-section-title'><%= Spree.t(:supplier_sku) %></h6>
    <div><%= @product.sku %></div>
  </div>
<% end %>